body {
	background: #112;
	font-family: "Cantarell Light", "Cantarell", "Roboto", sans-serif;
	color: #ddd;
}
h1 span {
	margin-left: 8px;
	font-size: 18px;
	color: #888;
}
h1 span a:link, h1 span a:visited {
	color: #888;
}
#load {
	background: linear-gradient(40deg, #001, #556);
	color: #ccc;
	position: fixed;
	top: 0; left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
#textcontainer {
	position: relative;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	width: 300px;
	height: 150px;
	text-align: center;
	line-height: 140px;
}
#text1, #text2, #dot {
	display: inline-block;
	margin: 0;
	width: auto;
	font-size: 4em;
}
#dot {
	width: 0px;
	height: 5px;
	background: #fff;
	border-radius: 0px;
	vertical-align: bottom;
	transform: translateY(-45px);
	margin: 0 1px 0 2px;
}
#text1 { transform: translateX(-100vw); }
#text2 { transform: translateX(100vw); }
div {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
table td {
	width: 30%;
	padding: 1%;
	margin-left: 5px;
	border-left: solid 1px #aaa;
	background: #333344;
}
label {
	margin: 0 10px 4px 0;
	width: calc(25% - 11px);
	border-right: solid 1px #aaa;
	padding: 0;
	display: inline-block;
}
input[type=text] {
	background: #112;
	margin: 0;
	padding: 5px 0;
	border: none;
	color: #aaa;
	width: 75%;
	outline: none;
	display: inline-block;
	transition: background ease-in-out .2s;
}
input[type=text]:hover, input[type=text]:focus {
	background: #223;
}
input[type=submit], button {
	background: linear-gradient(to left bottom, #223, #334);
	background-size: 200% 200%;
	background-position: top right;
	transition: background-position ease-in-out .1s;
	border: none;
	padding: 10px 20px;
	color: #ddd;
	margin-top: 10px;
	cursor: pointer;
}
input[type=submit]:hover, input[type=submit]:active, button:hover, button:active {
	background-position: left bottom;
}
button {
	display: inline-block;
	margin: auto 5px;
	padding: 5px 10px;
}
#configuration_changed {
	position: absolute;
	opacity: 0;
	display: none;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 40px 5px rgba(0, 0, 0, .4);
	width: 165px;
	background: rgba(0, 0, 0, .2);
	right: 35%;
	top: 350px;
}
#configuration_changed h1 {
	margin: 0;
}
li {
	padding: 4px 0;
	margin: 2px 0;
	max-width: 80%;
}
li img {
	vertical-align: middle;
	border-radius: 50%;
	color: #999;
	margin: 0 6px;
}
#connlost {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .9);
	color: #ddd;
	display: none;
}
#connlost h1 {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
