doctype html
html
	head
		title Port.land Console
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' type='text/css' media='all' href='static/main.css')
		link(rel='shortcut icon' type='image/png' href='https://laspegas.us/media/images/favicon.png')
		script(type='text/javascript' src='static/script.js')
	body
		div(id='load')
			div(id='textcontainer')
				div(id='text1') Port
				div(id='dot')
				div(id='text2') land
		h1 Port.land Console
			span by 
				a(href='https://laspegas.us' target='_blank') Las Pegasus Radio
		button(id='pause_stream') Pause stream
		button(id='purge_inactive') Leave inactive channels
		br
		div(id='statistics')
			h2 Statistics
			table
				tr
					td!= `&#128246; Streaming for ${broadcast.streamTime / 1000} ms`
					td!= `&#128266; ${broadcast.volume * 100} % volume`
					td!= `&#127925; ${broadcast.paused ? `Paused since ${broadcast.pausedSince}` : 'Is playing'}`
			h3 Subscribers
			ul(id='subscribers')
				each subscriber in broadcast.broadcast.subscribers
					- var channel = subscriber.player.voiceConnection.channel
					li
						img(src='#' alt='#')
						strong!= channel.name
						|  in 
						strong!= channel.guild.name
						i!= ` (${channel.members.size - 1} listeners)`
		div(id='configuration_changed')
			h1 Changed!
		div(id='configuration')
			h2 Configuration
			form(action='.' method='post')
				each val, key in cfg
					label(for=key)!= key
					input(type='text' id=key name=key value=val)
				input(type='submit' value='Commit changes' id='cfg_submit')
		div(id='connlost')
			h1 Connection lost.
